body {
    font-family: sans-serif;
}

.header {
    overflow: hidden;
}

.header h1 {
    float: left;
    margin: 5px;
    font-size: 24px;
}

.header .search {
    float: left;
    height: 20px;
    margin: 5px 10px;
}

.header .search input {
    margin-left: 5px;
}

.header .buttons {
    float: left;
    height: 22px;
    margin: 5px 10px;
}

.header .buttons button {
    height: 100%;
}

.header #counter {
    float: right;
}

.dropdown {
    position: absolute;
    top: 40px;
    min-height: 30px;
    padding: 10px 5px 5px 5px;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.dropdown.filter_container .new_filter {
    margin-top: 10px;
}

.dropdown.order_container .new_order {
    margin-top: 10px;
}

.record {
    display: inline-block;
    margin: 4px;
    box-shadow: 2px 2px 5px #888888;
}

.record:hover {
    box-shadow: 5px 5px 5px #888888;
    margin: 1px 7px 7px 1px;
}

.record .cover {
    height: 40px;
    display: block;
}

.record .cover.format-Vinyl {
    height: 90px;
}

.record .cover.format-Vinyl12 {
    height: 90px;
}

.record .cover.format-Vinyl10 {
    height: 70px;
}

.record .cover.format-Vinyl7 {
    height: 50px;
}

.record .cover.format-CD {
    height: 40px;
}

.record div {
    display: none;
}

.artist, .year {
    color: #0000aa;
    cursor: pointer;
    font-weight: bold;
}

.track {
    font-size: 12px;
}

.track .position {
    font-weight: bold;
}

#record-popup {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-right: calc(40px - 50%);
    transform: translate(-50%, 0);
    max-height: calc(100vh - 100px);
    max-width: 615px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px #888888;
}

#record-popup .cover {
    width: 100%;
}

#record-popup .left {
    float: left;
    width: 300px;
}

#record-popup .right {
    float: right;
}

#record-popup .listenIframe {
    display: block;
    margin-bottom: 3px;
}

#record-popup .setListenId {
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    margin-left: 3px;
    cursor: pointer;
}

#record-popup .setListenId img {
    width: 20px;
}

@media (min-width: 768px) {
    .dropdown.filter_container {
        left: 40px;
        width: 330px;
    }

    .dropdown.order_container {
        left: 400px;
        width: 200px;
    }
}

@media (max-width: 767px) {
    .dropdown {
        left: 0px;
        width: 100%;
        border-left: 0px solid #ffffff;
        border-right: 0px solid #ffffff;
    }
}
