SECRET_KEY=
DEBUG=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
MYSQL_DATABASE=${DB_NAME}
MYSQL_USER=${DB_USER}
MYSQL_PASSWORD=${DB_PASSWORD}
MYSQL_ROOT_PASSWORD=
REDIS_LOCATION=redis://[Redis address]:6379/1
SERVER_PRIVATE_IP=
SERVER_PUBLIC_IP=
SITE_URL=
DISCOGS_AGENT=
DISCOGS_BASE_URL=https://api.discogs.com/
DISCOGS_KEY=
DISCOGS_SECRET=
SPOTIFY_API_URL=https://api.spotify.com/v1/
SPOTIFY_ACCOUNT_URL=https://accounts.spotify.com/api/
SPOTIFY_ID=
SPOTIFY_SECRET=
RATES_API_URL=https://freecurrencyapi.net/api/v2/latest?apikey=
RATES_API_KEY=
