asgiref==3.7.2
certifi==2024.7.4
chardet==4.0.0
Django==4.2.17
django-redis==5.2.0
django-appconf==1.0.5
django-imagekit==4.1.0
idna==3.7
lxml==4.9.1
mysqlclient==2.0.3
oauthlib==3.2.2
pilkit==3.0
Pillow==10.3.0
pydantic==2.5.3
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.1
requests==2.32.0
six==1.16.0
sqlparse==0.5.0
urllib3==1.26.19
debugpy==1.8.0