.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -155px;
    width: 300px;
    max-width: calc(100% - 30px);
    padding: 4px;
    border: 1px solid  #000000;
    box-shadow: 5px 5px 5px #888888;
    background-color: #ffffff;

    .progress-title {
        text-align: center;
        margin-top: 5px;
    }

    .progress-bar {
        position: relative;
        margin: 8px;
        border: 1px solid  #aaaaaa;

        .progress-meter {
            background-color: #aaaaaa;
            height: 20px;
        }

        .progress-label {
            position: absolute;
            left: 4px;
            top: 0;
            line-height:20px;
            font-size: 14px;
        }

        .progress-value {
            position: absolute;
            right: 4px;
            top: 0;
            line-height:20px;
            font-size: 14px;
        }

        .progress-auto-meter {
            background-color: #aaaaaa;
            height: 20px;
            width: 40px;
            animation: move 2s linear infinite alternate;
        }
    }
}

@keyframes move {
    0% { margin-left: 0; }
    100% { margin-left: calc(100% - 40px); }
}
