header {
    overflow: hidden;

    h1 {
        float: left;
        margin: 5px;
        font-size: 24px;
    }

    .search {
        float: left;
        height: 20px;
        margin: 10px 15px 8px;
    }

    .buttons {
        float: left;
        height: 22px;
        margin: 10px 10px;

        button {
            margin-left: 5px;
            height: 100%;
            position: relative;
            .button-qty {
                background-color: #ff0000;
                border-radius: 5px;
                font-size: 9px;
                color: #ffffff;
                display: inline-block;
                position: absolute;
                bottom: -2px;
                right: -2px;
                width: 10px;
            }
        }
    }

    .stats {
        float: right;
        font-size: 0.8em;
    }
}
