.orders {
    .current-orders {
        margin-bottom: 10px;

        .order {
            border: 1px solid #000;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 3px;

            .direction {
                margin-left: 10px;
            }

            .remove-order {
                margin-left: 5px;
                float: right;
                line-height: 0.9em;
            }
        }
    }
    .new-order {
        .order-reverse {
            display:none;

            & + label {
                margin: 0 10px;
            }
            & + label:before {
                content: "⇩";
            }
            &:checked + label:before {
                content: "⇧";
            }
        }
        .add-order {
            float: right;
        }
    }
}
