.orders {
    .current-orders {
        margin-bottom: 5px;

        .order {
            border: 1px solid #000;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 3px;

            .remove-order {
                margin-left: 5px;
                float: right;
                line-height: 12px;
            }
        }
    }
    .new-order {
        .order-reverse {
            display:none;
            & + label:before {
                content: "⇩";
                padding: 0 5px;
            }
            &:checked + label:before {
                content: "⇧";
                padding: 0 5px;
            }
        }
        .add-order {
            float: right;
        }
    }
}
