.popup {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-right: calc(40px - 50%);
    transform: translate(-50%, 0);
    max-height: calc(100vh - 60px);
    max-width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px #888888;

    &.level2 {
        top: 70px;
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 4px;
        cursor: pointer;
        font-size: 26px;
    }

    .content {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        margin-top: 30px;
        padding: 0 10px 10px;
    }
}
