$formats: (
  Memory-stick: (
    20,
    5,
  ),
  Cassette: (
    30,
    15,
  ),
  Vinyl5: (
    35,
    30,
  ),
  none: (
    40,
    35,
  ),
  CD: (
    40,
    35,
  ),
  CDr: (
    40,
    35,
  ),
  Vinyl7: (
    50,
    45,
  ),
  Flexi-disc7: (
    50,
    45,
  ),
  VHS: (
    60,
    35,
  ),
  DVD: (
    60,
    35,
  ),
  DVDr: (
    60,
    35,
  ),
  Blue-ray: (
    60,
    35,
  ),
  Vinyl10: (
    70,
    65,
  ),
  Vinyl12: (
    90,
    85,
  ),
  Vinyl: (
    90,
    85,
  ),
  Laserdisc12: (
    90,
    85,
  ),
  Lathe-Cut: (
    90,
    85,
  ),
);

.record-row {
  cursor: pointer;
  height: 40px;

  &:hover {
    background-color: #dddddd;
  }

  div {
    vertical-align: middle;
    &:not(:first-child) {
      padding: 3px;
    }
  }

  .record-image {
    .cover {
      max-width: 40px;
      max-height: 40px;
    }
  }

  .record-year {
    text-align: center;
    .year {
      color: #0000aa;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .record-format {
    text-align: center;
  }

  .record-price,
  .record-format,
  .record-genres,
  .record-addedDate,
  .record-id {
    font-size: 14px;
  }

  .record-addedDate {
    text-wrap: nowrap;
  }
}

.record {
  display: inline-block;
  margin: 4px;
  box-shadow: 2px 2px 5px #888888;
  vertical-align: middle;

  &:hover {
    box-shadow: 5px 5px 5px #888888;
    margin: 1px 7px 7px 1px;
  }

  @each $format, $sizes in $formats {
    &.format-#{$format},
    &.format-#{$format} .cover {
      height: nth($sizes, 1) + 0px;
      min-width: nth($sizes, 2) + 0px;
    }
  }

  .cover {
    height: 40px;
    min-width: 35px;
    display: block;
  }
}
