body {
    font-family: sans-serif;
}

button, select, .button {
    background: none;
    color: inherit;
    font: inherit;
    outline: inherit;
    display: inline-block;
    padding: 1px 5px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: bottom;

    &:active {
        color: #111;
    }
}

input {
    background: none;
    color: inherit;
    font: inherit;
    font-size: 0.9em;
    outline: inherit;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px;
}
